<div class="container-modificar" style="margin: 50px; auto">
    <div class="row">
        <div class="col-6 offset-3">
           
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="hidden"
            value="{{novedad.id}}" class="form-control" name="id">
                </div>

            <div class="form-control">
                 <h2 align="center">Modificar la Novedad</h2>
                  <label  class="form-label">Titulo</label>
            <input type="text" placeholder="Titulo"
            value="{{novedad.titulo}}" class="form-control" name="titulo">

            
            <label  class="form-label">Subtitulo</label>
           <textarea name="subtitulo" placeholder="Subtitulo" id="" cols="20" rows="10" class="form-control">{{novedad.subtitulo}}</textarea>
           

          
                <p>
                    <label>Imagen: <input class="form-control" type="file" name="imagen" id="imagen"/></label>
                </p>
                <p>
                    <label><input class="form-check-input" type="checkbox" name="img_delete" id="img_delete" value="1" />Eliminar img actual?</label>
                    <input type="hidden" name="img_original" value="{{novedad.img_id}}">
                </p>
        <label  class="form-label">Cuerpo</label>
        <textarea name="cuerpo" placeholder="Cuerpo" class="form-control" id="" cols="30" rows="10">{{novedad.cuerpo}}</textarea><br>

            <button type="submit" class="btn btn-primary">Modificar</button>    
            </div>
            </form>
            {{#if error}}
              <div class="alert alert-danger" role="alert">
                 <p>{{message}}</p>
            </div>
             {{/if}}
        
        </div>
    </div>
    </div>