<div class="container-novedades" style="margin-top 50px">
    {{!-- {{fila 1}} --}}
<div class="row">
    <div class="col-auto">
    <p class="p-3 mb-2 bg-secondary text-white">hola {{persona}}! <a  class="btn btn-danger" href="/admin/login/logout">cerrar sesion</a></p>
    </div>
</div>
 {{!-- {{ fin fila 1}} --}}

{{!-- {{ fila 2}} --}}
<div class="row">
    
        <h1 align="center">Listados de Novedades</h1>

</div>
{{!-- {{ fin fila 2}} --}}
{{!-- {{fila 3}} --}}

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Titulo</th>
                    <th scope="col">Imagen</th>
                    <th class="text-center">acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each novedades}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-end">
                         <a class="btn btn-success" href="/admin/novedades/agregar">Nuevo</a>
                        <a class="btn btn-warning" href="/admin/novedades/modificar/{{id}}">Modificar</a>
                        <a class="btn btn-danger" href="/admin/novedades/eliminar/{{id}}">Eliminar</a>
                       
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
</div>